/* elements */
* {
    /* outline: 1px red solid; */
}
body {
    background-image: url("./images/bg.avif");
    background-size: cover;
    background-position: right;
    font-family: 'Bungee Hairline', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}

header {
    color: rgb(0, 0, 0);
}

/* overrides bootstrap's 1rem */
p {
    margin-bottom: 0.5rem;
    width: 100%;
}

/* ids */
#main-section {
    background-color: rgba(255, 255, 255, 0.5);
}

#user-card {
    background-image: url("./images/lotus.avif");
    background-size:initial;
    background-repeat: no-repeat;
    /* background-position: bottom 82% left 55%; */
    background-position-x: 55%;
    background-position-y: 18%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(113, 199, 189, 0.875);
}

#dl-card {
    background-image: url("./images/lotus.avif");
    background-size:initial;
    background-repeat: no-repeat;
    /* background-position: bottom 82% left 55%; */
    background-position-x: 55%;
    background-position-y: 18%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(113, 199, 189, 0.875);
    display: none;
}


/* classes */
.grass {
    background-color: #00ffc8;
}

.fire {
    background-color: #ff0099;
}

.water {
    background-color: #87ffe5;
}

.normal {
    background-color: #dbf9f3;
}

.flying {
    background-color: #b9fff0;
}

.electric {
    background-color: #23ff74;
}

.psychic {
    background-color: #ffc5f4;
}

.dark {
    background-color: #6b8781;
}

.ghost {
    background-color: #3d5953;
}

.poison {
    background-color: #d04b9b;
}

.bug {
    background-color: #a1ffc3;
}

.fighting {
    background-color: #c190ad;
}

.rock {
    background-color: #936f85;
}

.ground {
    background-color: #6b5161;
}

.steel {
    background-color: #98b2ac;
}

.ice {
    background-color: #8fffe7;
}

.dragon {
    background-color: #3bdebb;
}

.fairy {
    background-color: #ff88d0;
}

.lightbg {
    background-color: rgba(255, 255, 255, 0.5);
}

.pokemon-image {
    width:100%; 
    /* height: 10rem;  */
    /* border: solid 1px rgb(218, 255, 202);  */
    border-left: solid 1px rgb(218, 255, 202);
    border-right: solid 1px rgb(218, 255, 202);
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6));
   
}

.tenrem {
    width:10rem;
    /* font-weight: bold; */
}

.type-icon {
    width: 1.5rem;
    float: right;
    margin-right: 3px;
}

.ad {
    display: inline-block;
    font-weight: bold;
    background-color: rgba(223, 223, 223, 0.55);
    border-radius: 5px;
}

.ad p {
    margin-bottom: 0 !important;
}


/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-input {
    width: 200px;
    padding: 2px;
    text-align: center;

}

.dropdown-input::placeholder {
    color: black;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 200px;
    max-height: 200px;
    overflow-y: auto;
    text-align: center;
}

.dropdown-option {
    padding: 10px;
    cursor: pointer;
    color: black;
}

.dropdown-option:hover {
    background-color: #f0f0f0;
}



/* @media (max-width: 420px) {
    .head-text {
        font-size: 1.5vmin;
   
    }
    .type-icon {
        width: 1.5vmin;

    }
} */

@media (max-width: 768px) {
    /* original is width:10rem; */
    #user-card .tenrem {
        width: 4.25rem;
    }
    /* originally doesnt exist */
    #user-card .head-text {
        font-size: 2vmin;
   
    }
    /* originally  width: 1.5rem;*/
    #user-card .type-icon {
        width: 0.8rem;

    }
    #user-card .row {
        /* original pre-mquery is --bs-gutter-x: 1.5rem; */
        --bs-gutter-x: 0.5rem;
    }

    #user-card .mb-3 {
        margin-bottom: 0 !important;
    }

    /* originally width: fit-content; */
    #user-card {
        width: 100%;
    }

    .ad {
        font-size: 3vmin;
    }
}

@media (max-width: 502px) {
    #user-card .head-text {
        font-size: 1.5vmin;
   
    }
    #user-card .type-icon {
        width: 1.5vmin;

    }
    #user-card .type-icon {
        width: 0.5rem;

    }
}