/* elements */
body {
    background-image: url("./images/bg.avif");
    background-size: initial;
    background-repeat: no-repeat;
    background-position: right;
    font-family: 'Bungee Hairline', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}

header {
    color: rgb(0, 0, 0);
}

/* overrides bootstrap's 1rem */
p {
    margin-bottom: 0.5rem;
    width: 100%;
}

/* ids */
#main-section {
    background-color: rgba(255, 255, 255, 0.5);
}

#user-card {
    background-image: url("./images/aurora.png");
    background-size:inherit;
    background-repeat: no-repeat;
    background-position: bottom 82% left 55%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.2);
}




/* classes */
.grass {
    background-color: #00ffc8;
}

.fire {
    background-color: #ff0099;
}

.water {
    background-color: #87ffe5;
}

.normal {
    background-color: #dbf9f3;
}

.flying {
    background-color: #b9fff0;
}

.electric {
    background-color: #62ff9c;
}

.psychic {
    background-color: #ffc5f4;
}

.dark {
    background-color: #6b8781;
}

.ghost {
    background-color: #3d5953;
}

.poison {
    background-color: #d04b9b;
}

.bug {
    background-color: #a1ffc3;
}

.fighting {
    background-color: #c190ad;
}

.rock {
    background-color: #936f85;
}

.ground {
    background-color: #6b5161;
}

.steel {
    background-color: #8ab5ab;
}

.ice {
    background-color: #a3ffeb;
}

.dragon {
    background-color: #3bdebb;
}

.fairy {
    background-color: #ff88d0;
}

.lightbg {
    background-color: rgba(255, 255, 255, 0.5);
}

.pokemon-image {
    width:10rem; 
    /* height: 10rem;  */
    border: solid 1px rgb(218, 255, 202); 
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6));
   
}

.type-icon {
    width: 1.5rem;
    float: right;
    margin-right: 3px;
}

/* .no-margin {
    margin-bottom: 0;
} */


/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-input {
    width: 200px;
    padding: 2px;
    text-align: center;

}

.dropdown-input::placeholder {
    color: black;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 200px;
    max-height: 200px;
    overflow-y: auto;
    text-align: center;
}

.dropdown-option {
    padding: 10px;
    cursor: pointer;
    color: black;
}

.dropdown-option:hover {
    background-color: #f0f0f0;
}