/* elements */
* {
    /* outline: 1px red solid; */
    text-transform: uppercase;
    
}

body {
    background-image: url("./images/bg.avif");
    background-size: cover;
    background-position: right;
    font-family: 'Rajdhani', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    /* text-transform: uppercase; */
}

header {
    color: rgb(0, 0, 0);
}

a,
a:visited {
    color: rgb(26, 131, 128);
    font-style: italic;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    font-style: normal;
}


/* overrides bootstrap's 1rem */
p {
    margin-bottom: 0.5rem;
    width: 100%;
}

.main-section {
    background-color: rgba(255, 255, 255, 0.5);
}

.generate {
    text-transform: uppercase;
}

.dev-link {
    background-color: rgba(255, 255, 255, 0.265);
}

.disambiguous-link {
    text-decoration: none !important;
    font-style: normal !important;
    color: black !important;
    font-weight: 100 !important;
}

/* select card bg options */
.no-width {
    width: auto;
}

.bg-opt {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    outline: 1px black solid;
    margin-left: 1rem;
    margin-right: 1rem;
}

.dawn-opt {
    background-color: #dddfb7;
}

.galaxy-opt {
    background-image: linear-gradient(to top left, #855726, #9e2775, #28014e, #212121, #212121, #212121);
}

.minty-opt {
    background-image: linear-gradient(to bottom right, #37d5c6, #a2fc74);
}

.order-opt {
    background-image: linear-gradient(to bottom right, gray, #ffedea);
}

/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio]+.bg-opt {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked+.bg-opt {
    outline: 2px solid rgb(218, 255, 202);
}


/* ids */


#user-card {
    /* background-image: url("./images/5594016-e1656071131636.webp");
    background-size:initial;
    background-repeat: no-repeat;
    background-position-x: 55%;
    background-position-y: 18%; */
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

}

#dl-card {
    /* background-image: url("./images/5594016-e1656071131636.webp");
    background-size:initial;
    background-repeat: no-repeat;
    background-position-x: 55%;
    background-position-y: 18%; */
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.dawn-card {
    /* dawn */
    background-image: linear-gradient(to bottom left, #dddfb7, #eaecc2, #74fce3);
}

.galaxy-card {
    /* galaxy */
    background-image: linear-gradient(to top left, #855726, #9e2775, #28014e, #212121, #212121, #212121);
}

.minty-card {
    /* minty */
    background-image: linear-gradient(to bottom right, #37d5c6, #a2fc74);
}

.order-card {
    /* order */
    background-image: linear-gradient(to bottom right, #ffedea, gray, #ffedea);
}


.card-header {
    font-weight: bolder;
}

.dawn-minty-header {
    color: darkmagenta;
}

.galaxy-header {
    color: #ff73a6;
}

.order-header {
    color: #ffedea;
}



/* classes */

.head-text {
    font-style: italic;
}
.grass {
    background-color: #00ffc8;
    font-family: 'Bungee';
    text-transform: uppercase;
    font-weight: 300;

}

.fire {
    background-color: #ff0099;
    font-family: 'Bungee';
    text-transform: uppercase;
    font-weight: 300;

}

.water {
    background-color: #87ffe5;
    font-family: 'Bungee';
    text-transform: uppercase;
    font-weight: 300;

}

.normal {
    background-color: #dbf9f3;
    font-family: 'Bungee';
    text-transform: uppercase;
    font-weight: 300;
   
}

.flying {
    background-color: #b9fff0;
    font-family: 'Bungee';
    text-transform: uppercase;
    font-weight: 300;
   
}

.electric {
    background-color: #23ff74;
    font-family: 'Bungee';
    text-transform: uppercase;
    font-weight: 300;
    
}

.psychic {
    background-color: #ffc5f4;
    font-family: 'Bungee';
    text-transform: uppercase;
    font-weight: 300;
    
}

.dark {
    background-color: #6b8781;
    font-family: 'Bungee';
    text-transform: uppercase;
    font-weight: 300;
    
}

.ghost {
    background-color: #3d5953;
    font-family: 'Bungee';
    text-transform: uppercase;
    font-weight: 300;
 
}

.poison {
    background-color: #d04b9b;
    font-family: 'Bungee';
    text-transform: uppercase;
    font-weight: 300;

}

.bug {
    background-color: #a1ffc3;
    font-family: 'Bungee';
    text-transform: uppercase;
    font-weight: 300;

}

.fighting {
    background-color: #c190ad;
    font-family: 'Bungee';
    text-transform: uppercase;
    font-weight: 300;
}

.rock {
    background-color: #936f85;
    font-family: 'Bungee';
    text-transform: uppercase;
    font-weight: 300;

}

.ground {
    background-color: #6b5161;
    font-family: 'Bungee';
    text-transform: uppercase;
    font-weight: 300;

}

.steel {
    background-color: #98b2ac;
    font-family: 'Bungee';
    text-transform: uppercase;
    font-weight: 300;

}

.ice {
    background-color: #8fffe7;
    font-family: 'Bungee';
    text-transform: uppercase;
    font-weight: 300;
  
}

.dragon {
    background-color: #3bdebb;
    font-family: 'Bungee';
    text-transform: uppercase;
    font-weight: 300;

}

.fairy {
    background-color: #ff88d0;
    font-family: 'Bungee';
    text-transform: uppercase;
    font-weight: 300;

}

.lightbg {
    background-color: rgba(255, 255, 255, 0.5);
}

.pokemon-image {
    width: 100%;
    /* height: 10rem;  */
    /* border: solid 1px rgb(218, 255, 202);  */
    border-left: solid 1px rgb(218, 255, 202);
    border-right: solid 1px rgb(218, 255, 202);
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6));

}

.tenrem {
    width: 10rem;
    /* font-weight: bold; */
}

.type-icon {
    width: 1.5rem;
    float: right;
    margin-right: 3px;
}

.ad {
    display: inline-block;
    /* font-weight: bold; */
    border-radius: 5px;
}

.ad-bg-color {
    background-color: #dfdfdf8c;
}

.galaxy-ad-bg-color {
    background-color: #ff067f8c;
    color: white;
}

.ad p,
.select-head p {
    margin-bottom: 0 !important;
}

.btn-light {
    --bs-btn-hover-bg: #f8f9fa !important;
}


/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-input {
    width: 200px;
    padding: 2px;
    text-align: center;
    font-family: 'Rajdhani';

}

.dropdown-input::placeholder {
    color: black;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 200px;
    max-height: 200px;
    overflow-y: auto;
    text-align: center;
    font-weight: bolder;
}

.dropdown-option {
    padding: 10px;
    cursor: pointer;
    color: black;
}

.dropdown-option:hover {
    background-color: #f0f0f0;
}

/* removes default browser blue outline */
.dropdown-input:focus {
    outline: none;
}

.shiny {
    background: rgba(255, 255, 255, 0.16);
    color: inherit;
    border: 1px solid rgba(0, 0, 0, 0.164);
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 2px;
    font: inherit;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 3px;
    font-size: 0.7rem;
}

.shiny:active {
    -webkit-box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.4), inset 0 1px 1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.4), inset 0 1px 1px 0 rgba(0, 0, 0, 0.4);
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
}

.shiny.active {
    -webkit-box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.4), inset 0 1px 1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.4), inset 0 1px 1px 0 rgba(0, 0, 0, 0.4);
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
}






/* i know i can target a shiny in a specific div */
/* #fire .shiny {
    background: #3d5953;
} */

.select-head {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    font-family: 'Rajdhani';
    /* font-weight: bolder; */
}

/* .select-head p {

} */

/* @media (max-width: 420px) {
    .head-text {
        font-size: 1.5vmin;
   
    }
    .type-icon {
        width: 1.5vmin;

    }
} */

@media (max-width: 900px) {

    /* original is width:10rem; */
    #user-card .tenrem {
        width: 4.25rem;
    }

    /* originally doesnt exist */
    #user-card .head-text {
        font-size: 2vmin;

    }

    /* originally  width: 1.5rem;*/
    #user-card .type-icon {
        width: 0.8rem;

    }

    #user-card .row {
        /* original pre-mquery is --bs-gutter-x: 1.5rem; */
        --bs-gutter-x: 0.5rem;
    }

    #user-card .mb-3 {
        margin-bottom: 0 !important;
    }

    /* originally width: fit-content; */
    #user-card {
        width: 100%;
    }

    .ad {
        font-size: 2.5vmin;
    }
}

@media (max-width: 502px) {
    #user-card .head-text {
        font-size: 1.5vmin;

    }

    #user-card .type-icon {
        width: 1.5vmin;

    }

    #user-card .type-icon {
        width: 0.5rem;

    }

    .no-width {
        display: none;
    }
}